.hero {
  min-height: 400px;
  margin-bottom: 46px;

  background-color: $bg-dark;
  background-image: url("../img/cards.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1366px 400px;

  @media (min-resolution: 2dppx) {
  background-image: url("../img/cards@2x.png");
  }
}

.hero__wrapper {
  @include container();

  padding: 100px 170px;
}

.hero__title {
  margin: 0;
  margin-bottom: 8px;

  font-size: $font-size-basic * 3;
  line-height: normal;
  font-weight: bold;
  color: $bg-light
}

.hero__text {
  margin: 0;
  margin-bottom: 33px;

  font-size: $font-size-label;
  line-height: normal;
  font-weight: normal;
  color: $text-clr-light;
}

.hero__button {
  padding: 15px 36px 16px;

  font-size: $font-size-basic;
  line-height: normal;
  font-weight: 500;
  color: $text-clr-basic;

  background-color: $bg-light;
}
