.main-footer {
  padding-top: 48px;
  padding-bottom: 40px;

  font-size: $font-size-footer;
  line-height: 1.4;
  color: $text-clr-footer;

  background-color: $bg-light;
}

.main-footer__wrapper {
  @include container();

  display: flex;
}

.main-footer__logo {
  display: block;
  margin-bottom: 16px;
}

.main-footer__item {
  &--info {
      width: 257px;
      margin-right: 76px;
  }

  &--nav {
    width: 150px;
    margin-right: 74px;
  }

  &--social {
    width: 102px;
    margin-left: auto;
  }
}

.main-footer__text {
  @include offset-reset();

  font-style: normal;
}
