.main-header {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 32px;

  font-size: $font-size-link;

  background-color: $bg-light;
}

.main-header__wrapper {
  @include container();

  display: flex;
  align-items: center;
}

.main-header__logo {
  display: block;
  margin-right: 58px;
  margin-bottom: 5px;
}

.main-header__nav {
  width: 670px;
}

.main-header__user-nav {
  width: 210px;
}
