// TIPOGRAPHY
$basic-font: "Roboto", "Arial", sans-serif;
$basic-font-size: 18px;
$footer-font-size: 12px;
$heading-font-size: 41px;
$input-font-size: 24px;
$label-font-size: 22px;
$link-font-size: 16px;
$subheading-font-size: 28px;

// COLORS: BACKGROUND
$bg-basic: #ffffff;
$bg-light: #f6f7ff;
$bg-history: #c1c2ca;
$bg-dark: #2c36f2;

// COLORS: TEXT
$text-clr-basic: #1f1e25;
$text-clr-input: #000000;
$text-clr-footer: #707c87;
$text-clr-light: #e0e1ea;

// LAYOUT SIZES
$basic-width: 1170px;
