// TIPOGRAPHY
$font-basic: "Roboto", "Arial", sans-serif;
$font-size-basic: 18px;
$font-size-footer: 12px;
$font-size-heading: 41px;
$font-size-input: 24px;
$font-size-label: 22px;
$font-size-link: 16px;
$font-size-subheading: 28px;

// COLORS: BACKGROUND
$bg-basic: #ffffff;
$bg-light: #f6f7ff;
$bg-history: #c1c2ca;
$bg-dark: #2c36f2;

// COLORS: TEXT
$text-clr-basic: #1f1e25;
$text-clr-input: #000000;
$text-clr-footer: #707c87;
$text-clr-light: #e0e1ea;

// LAYOUT SIZES
$width-basic: 1170px;
